<p><b>Person Type:</b> <%= @person.person_type.name %></p>
<p><b>Item Number:</b> <%= @content_block.order %></p>

<p><b>Summary Description:</b> <%= @person.summary_description %></p>
<p><b>Description:</b> <%= @person.description %></p>
<p><b>Photo:</b> <br/><br/><img src="<%= @person.attachment_link %>" alt="Example Photo"><br/></p>
