<%= f.cms_text_field :name, :label => "Navn" %>
<%= f.cms_drop_down :person_type_id, PersonType.all(:order => "order").map{|e| [e.name, e.id]} %>
<%= f.cms_file_field :person_photo, :label => "Foto" %>
<% if @content_block && !@content_block.person_photos[0].attachment_link.blank? %>
<p><b>Foto 1:</b> <br/><br/><img src="<%= @content_block.person_photos[0].attachment_link %>" alt="Eksempel Foto 1" height="480px" width="640px"><br/></p>
<% end %>
<%= f.cms_file_field :person_photo_mini, :label => "Miniature" %>
<%= f.cms_file_field :person_photo_misc, :label => "Andet Foto" %>
<%= f.cms_text_field :summary_description, :label => "Kort beskrivelse" %>
<%= f.cms_text_editor :description, :label => "Beskrivelse" %>