<p><b>Navn:</b> <%= @content_block.name %></p>
<p><b>Stilling:</b> <%= @content_block.person_type.name %></p>
<p><b>Kort beskrivelse:</b> <%= @content_block.summary_description %></p>
<p><b>Beskrivelse:</b> <%= @content_block.description %></p>
<p><b>Stort foto:</b> <br/><br/><img src="<%= @content_block.product_photos[0].attachment_link %>" alt="<%= @content_block.name %>"><br/></p>
<p><b>Miniature foto:</b> <br/><br/><img src="<%= @content_block.product_photos[1].attachment_link %>" alt="Example Photo 2" height="480px" width="640px"><br/></p>
<p><b>Andet foto:</b> <br/><br/><img src="<%= @content_block.product_photos[2].attachment_link %>" alt="Example Photo 2" height="480px" width="640px"><br/></p>